[Unit]
Description=ZeroTier network controller user interface
After=network.target

[Service]
Type=simple
User=ztncui
Group=ztncui
Environment="PATH=__ENV_PATH__"
WorkingDirectory=__FINALPATH__/src/
ExecStart=__NODEJS_PATH__/npm start

[Install]
WantedBy=multi-user.target
