[Unit]
Description=ZeroTier network controller user interface
After=network.target

[Service]
Type=simple
User=ztncui
Group=ztncui
Environment="PATH=__PATH__"
WorkingDirectory=__FINAL_PATH__/src/
ExecStart=__NODEJS_PATH__/npm start

[Install]
WantedBy=multi-user.target
